[
  {
    "scope": "http://calapi.inadiutorium.cz:80",
    "method": "GET",
    "path": "/api/v0/en/calendars/default/2020/02/12",
    "body": "",
    "status": 200,
    "response": {
      "date": "2020-02-12",
      "season": "ordinary",
      "season_week": 5,
      "celebrations": [
        {
          "title": "Wednesday, 5th week in Ordinary Time",
          "colour": "green",
          "rank": "ferial",
          "rank_num": 3.13
        }
      ],
      "weekday": "wednesday"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Status",
      "200 OK",
      "X-Proxy-Cache",
      "HIT"
    ],
    "responseIsBinary": false
  }
]