[
  {
    "scope": "https://api.exchangerate-api.com:443",
    "method": "GET",
    "path": "/v4/latest/USD",
    "body": "",
    "status": 200,
    "response": {
      "base": "USD",
      "date": "2020-02-12",
      "time_last_updated": 1581465978,
      "rates": {
        "USD": 1,
        "AED": 3.672049,
        "ARS": 60.986973,
        "AUD": 1.492153,
        "BGN": 1.793443,
        "BRL": 4.317825,
        "BSD": 1,
        "CAD": 1.330111,
        "CHF": 0.977251,
        "CLP": 794.788546,
        "CNY": 6.976712,
        "COP": 3460.347826,
        "CZK": 22.903578,
        "DKK": 6.848278,
        "DOP": 53.129506,
        "EGP": 15.660763,
        "EUR": 0.91618,
        "FJD": 2.205081,
        "GBP": 0.773119,
        "GTQ": 7.64681,
        "HKD": 7.765464,
        "HRK": 6.838348,
        "HUF": 309.702292,
        "IDR": 13609.646515,
        "ILS": 3.416576,
        "INR": 71.290089,
        "ISK": 126.424951,
        "JPY": 109.81908,
        "KRW": 1185.193037,
        "KZT": 378.990476,
        "MXN": 18.683254,
        "MYR": 4.139049,
        "NOK": 9.262193,
        "NZD": 1.563805,
        "PAB": 1,
        "PEN": 3.391639,
        "PHP": 50.605969,
        "PKR": 153.941973,
        "PLN": 3.907061,
        "PYG": 6632.333333,
        "RON": 4.371626,
        "RUB": 63.783064,
        "SAR": 3.750466,
        "SEK": 9.654289,
        "SGD": 1.388068,
        "THB": 31.282591,
        "TRY": 6.021198,
        "TWD": 30.07688,
        "UAH": 24.352404,
        "UYU": 37.755218,
        "ZAR": 14.902097
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]